<div id="ofBar" class="activo">
    <div id="ofBar-logo"> 
      <img alt="creative-tim-logo" src="/img/asoc-banner.png" height="50">
    </div>
    <div id="ofBar-content">
      <b>¡Se parte de la asociación! - </b> Regístrate ahora y obtén la asesoría profesional que necesites. ⏰
    </div>
    <div id="ofBar-right">
      <a id="btn-bar" style="cursor: pointer;">Registrarme</a>
      <a id="close-barX" style="cursor: pointer;">×</a>
    </div>
  </div>

<!-- Navbar -->
  {{> navbar-index }}

  <header class="header-2">
    <div class="page-header min-vh-85">
    <span class="mask bg-gradient-success opacity-8"></span>
      <div class="container">
        <div class="row">
          <div class="col-lg-7 text-center mx-auto">
            <h1 class="text-white">Rendición de Cuentas</h1>
          </div>
        </div>
      </div>
      <div class="position-absolute w-100 z-index-1 bottom-0">
      <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto">
        <defs>
          <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        </defs>
        <g class="moving-waves">
          <use xlink:href="#gentle-wave" x="48" y="-1" fill="rgba(255,255,255,0.40" />
          <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.35)" />
          <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.25)" />
          <use xlink:href="#gentle-wave" x="48" y="8" fill="rgba(255,255,255,0.20)" />
          <use xlink:href="#gentle-wave" x="48" y="13" fill="rgba(255,255,255,0.15)" />
          <use xlink:href="#gentle-wave" x="48" y="16" fill="rgba(255,255,255,0.95" />
        </g>
      </svg>
    </div>
    </div>
  </header>
<div class="wraper" style="margin-top: 10vh;">


    <section class="my-5 py-5">
      <div class="container">
          <div class="row" id="page-filter">
            <h1>INFORME DE GESTIÓN DE LA ASOCIACIÓN CIVIL DE EGRESADOS DEL DECANATO DE CIENCIAS Y TECNOLOGÍA (ASOCDCYT)</h1> 
            
            <p>
              El Decanato de Ciencias y Tecnología (DCYT), conformó y registró legalmente la Asociación Civil de Egresados del DCYT, organización sin fines de lucro,  inscrita bajo el número 22, Folio 133, Tomo 2, de fecha 05/02/2020 e inició   formalmente sus operaciones el 01/03/2020. </br></br>
              Es importante mencionar que, desde hace años, el DCYT, no recibe recursos para el mantenimiento y mejora de sus instalaciones e infraestructura, la ASOCDCYT  desde el 01/03/20 asumió la responsabilidad de apoyar económicamente al DCyT en las necesidades apremiantes.
            </p>
            <h2>Actividades que se han realizado hasta el presente:</h2>
            <h3>Nuestros Inicios:</h3>
            <h5>1- Año 2019, iniciamos con la solicitud de apoyo para la adquisición de repuesto de Protector Trifásico para Aire Acondicionado del Centro de Computación, cuyo costo ascendía a la cantidad de Bs. 971.000,01.</h5>
            <h5>2- Compra de Artículos de Limpieza.</h5>
            <h5>3- Donaciones Varias</h5>
            <p>
              a.	Fundación Big Player Baseball (Representante Rafael Navarro), donación de trabajos de herrería, trabajos de albañilería, arreglo de cerca y donación de candado. </br>
              b.	Asociación Cooperativa Luchando para Triunfar en la Vida (Francisco Baldayo), donación recuperación de áreas, actividades de seguridad.</br>
              c.	Recepción de solicitud de la Iglesia Cristiana Luz de las Naciones, quienes iniciaron los trabajos de recuperación del Auditorio Vinicio Adames y sus alrededores.</br>
              d.	Grupo Scout de Barquisimeto, Jornada de desmalezación de áreas.</br>
              e.	Donación Mensual de productos de limpieza, por parte de la Prof. Aimara Vargas.</br>
              f.	Padres y Representantes, han donado productos de limpieza, 10 cepillos para barrer, 9 rastrillos, materiales de limpieza y tóner para impresora.</br>
              </p>
            <h5>4-	Contratación de Vigilancia para el DCyT durante el periodo comprendido de diciembre 2019 a 15 de enero 2020.</h5>
            <p>Durante este periodo y ante la situación de vulnerabilidad a la que se encuentra expuesta el Decanato de Ciencias y Tecnología, por la falta de seguridad y los constantes hurtos que ha sufrido, con el apoyo de la comunidad en general se contrato a un grupo de Vigilantes AC Luchando para Triunfar en la Vida RL, bajo la responsabilidad del Lic. Francisco Baldayo.</p>
            <h5>
              5.	Inicia Campaña un dólar por el decanato en marzo de 2021.
            </h5>

            <p>Con la campaña un dólar por el Decanato y con ellos apoyos personales y de empresas del Estado Lara, tales como: Marna Sistemas, Tubrica, Droguería Nena, se pudieron realizar las siguientes actividades:</br>
I Fase:</br>
•	Limpieza de la planta baja del Edificio N.</br>
•	Desmalezación de alrededores del Edificio N</br></br>

II Fase:</br>
•	Desmalezación de todas las áreas del Decanato, Edificio N, área de módulos, Edificio K, Edificio L, áreas del módulo J y H, estacionamiento del Terminalito, estacionamiento de estudiantes y sus alrededores.</br>
•	Limpieza y desinfección de aulas y oficinas del Edificio K y L.</br>
•	Limpieza y desinfección de la oficina de Registro Académico.</br>
•	Desratización de Hemeroteca, Biblioteca y oficina de Registro Académico.</br>
AREA N° 1 EDIFICIO N, todo alrededor del edificio, las churuatas de estudio, la calle que da hacia la cancha de beisbol, estacionamiento de transporte estudiantil, isla y caminería.</br></br>
III Fase:</br>
•	Limpieza y destape de ductos en techo del Edificio N.</br>

</p>
<h4>SE ESTRUCTURO POR PROYECTOS PARA UN MEJOR CONTROL DE LOS RECURSOS</h4>
            
          </div>
        </div>
    </section>


</div>
  {{>footer-a}}

<script type="text/javascript">

  if (document.getElementById('state1')) {
    const countUp = new CountUp('state1', document.getElementById("state1").getAttribute("countTo"));
    if (!countUp.error) {
      countUp.start();
    } else {
      console.error(countUp.error);
    }
  }
  if (document.getElementById('state2')) {
    const countUp1 = new CountUp('state2', document.getElementById("state2").getAttribute("countTo"));
    if (!countUp1.error) {
      countUp1.start();
    } else {
      console.error(countUp1.error);
    }
  }
  if (document.getElementById('state3')) {
    const countUp2 = new CountUp('state3', document.getElementById("state3").getAttribute("countTo"));
    if (!countUp2.error) {
      countUp2.start();
    } else {
      console.error(countUp2.error);
    };
  }
</script>
  <style>
  #ofBar {
    display: none;
    background: #fff;
    z-index: 999999999;
    font-size: 16px;
    color: #333;
    padding: 16px 40px;
    font-weight: 400;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 40px;
    width: 80%;
    border-radius: 8px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 13px 27px -5px rgba(50,50,93,0.25), 0 8px 16px -8px rgba(0,0,0,0.3), 0 -6px 16px -6px rgba(0,0,0,0.025);
  }

  #ofBar.activo {
    display: flex;
  }

  #ofBar-logo img {
    height: 50px;
  }

  #ofBar-content {
    display: inline;
    padding: 0 15px;
  }

  #ofBar-right {
    display: flex;
    align-items: center;
  }

  #ofBar b {
    font-size: 15px !important;
  }
  #count-down {
    display: initial;
    padding-left: 10px;
    font-weight: bold;
    font-size: 20px;
  }
  #close-bar {
    font-size: 17px;
    opacity: 0.5;
    cursor: pointer;
  }
  #close-bar:hover{
    opacity: 1;
  }
  #btn-bar {
    background-image: linear-gradient(67deg, rgb(255 255 255) 0%, rgb(45 45 136) 0%, rgb(60 174 234) 100%);
    color: #fff;
    border-radius: 4px;
    padding: 10px 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    opacity: .95;
    margin-right: 20px;
    box-shadow: 0 5px 10px -3px rgba(0,0,0,.23), 0 6px 10px -5px rgba(0,0,0,.25);
  }
   #btn-bar, #btn-bar:hover, #btn-bar:focus, #btn-bar:active {
     text-decoration: none !important;
     color: #fff !important;
 }
  #btn-bar:hover{
    opacity: 1;
  }

  #btn-bar span, #ofBar-content span {
    color: red;
    font-weight: 700;
  }

  #oldPriceBar {
    text-decoration: line-through;
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    top: 2px;
    position: relative;
  }
  #newPrice{
    color: #fff;
    font-size: 19px;
    font-weight: 700;
    top: 2px;
    position: relative;
    margin-left: 7px;
  }

  #fromText {
    font-size: 15px;
    color: #fff;
    font-weight: 400;
    margin-right: 3px;
    top: 0px;
    position: relative;
  }

  @media(max-width: 991px){

  }
  @media (max-width: 768px) {
    #count-down {
      display: block;
      margin-top: 15px;
    }

    #ofBar {
      flex-direction: column;
      align-items: normal;
    }

    #ofBar-content {
      margin: 15px 0;
      text-align: center;
      font-size: 18px;
    }

    #ofBar-right {
      justify-content: flex-end;
    }
  }


</style>