<div id="ofBar" class="activo">
    <div id="ofBar-logo"> 
      <img alt="creative-tim-logo" src="/img/asoc-banner.png" height="50">
    </div>
    <div id="ofBar-content">
      <b>¡Se parte de la asociación! - </b> Regístrate ahora y obtén la asesoría profesional que necesites. ⏰
    </div>
    <div id="ofBar-right">
      <a id="btn-bar" style="cursor: pointer;">Registrarme</a>
      <a id="close-barX" style="cursor: pointer;">×</a>
    </div>
  </div>

<!-- Navbar -->
  {{> navbar-index }}

  <header class="header-2">
    <div class="page-header min-vh-85">
    <span class="mask bg-gradient-warning opacity-8"></span>
      <div class="container">
        <div class="row">
          <div class="col-lg-7 text-center mx-auto">
            <h1 class="text-white">Política de cookies</h1>
          </div>
        </div>
      </div>
      <div class="position-absolute w-100 z-index-1 bottom-0">
      <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto">
        <defs>
          <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        </defs>
        <g class="moving-waves">
          <use xlink:href="#gentle-wave" x="48" y="-1" fill="rgba(255,255,255,0.40" />
          <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.35)" />
          <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.25)" />
          <use xlink:href="#gentle-wave" x="48" y="8" fill="rgba(255,255,255,0.20)" />
          <use xlink:href="#gentle-wave" x="48" y="13" fill="rgba(255,255,255,0.15)" />
          <use xlink:href="#gentle-wave" x="48" y="16" fill="rgba(255,255,255,0.95" />
        </g>
      </svg>
    </div>
    </div>
  </header>
<div class="wraper" style="margin-top: 10vh;">


    <section class="my-5 py-5">
      <div class="container">
          <div class="row" id="page-filter">
              <h1>Política de cookies</h1>
              <div class="m-left">
              <p>
                Tras una auditoría realizada para la información sobre las Cookies que se usan en esta web, te informamos:
              </p></br>
              <h2>NUESTRA POLÍTICA DE COOKIES</h2>
              <p>
                (Lotel) la Ley Orgánica de Telecomunicaciones, obliga a todos los que tenemos una web a advertir al usuario de la existencia de cookies, informar sobre ellas y requerirle permiso para descargarlas.
              </p></br>
              <p>
                Debes conocer que teniendo en cuenta la forma en la que funciona Internet y los sitios web, no siempre es posible contar con información actualizada de las cookies que terceras partes puedan utilizar a través de este sitio web.
              </p></br>
              <p>
                Esto se aplica especialmente a casos en los que esta página web contiene elementos integrados: es decir, textos, documentos, imágenes o breves películas que se almacenan en otra parte, pero se muestran en nuestro sitio web.
              </p></br>
              <p>
                Por consiguiente, en caso de que te encuentres con este tipo de cookies en este sitio web y no estén enumeradas en la lista siguiente, te ruego que me lo comuniques. También puedes ponerte en contacto directamente con el tercero para pedirle información sobre las cookies que coloca, la finalidad y la duración de la cookie, y cómo ha garantizado su privacidad.
              </p></br>
              <h2>Previo.- ¿Qué son las Cookies?</h2>
              <p>
                Las cookies constituyen una herramienta empleada por los servidores Web para almacenar y recuperar información acerca de sus visitantes. No es más que un fichero de texto que algunos servidores piden a nuestro navegador que escriba en nuestro disco duro, con información acerca de lo que hemos estado haciendo por sus páginas. Poseen una fecha de caducidad, que puede oscilar desde el tiempo que dure la sesión hasta una fecha futura especificada, a partir de la cual dejan de ser operativa.
              </p></br>
              <h2>1. Las cookies que utiliza esta web</h2>
              <p>
                En esta web se utilizan cookies propias y de terceros para conseguir que tengas una mejor experiencia de navegación, puedas compartir contenido en redes sociales, para mostrarte anuncios en función a tus intereses y para obtener estadísticas de usuarios.
              </p>
              <p>
                Por ello, las cookies empleadas en https://asocdcyt.com se asocian únicamente con un Usuario anónimo y su ordenador, no proporcionan referencias que permitan deducir el nombre y apellidos del Usuario y no pueden leer datos de su disco duro ni incluir virus en sus textos. Asimismo, https://asocdcyt.com no puede leer las cookies implantadas en el disco duro del Usuario desde otros servidores.
              </p></br>
              <p>
                El usuario puede libremente decidir acerca de la implantación o no en su disco duro de las cookies empleadas en https://asocdcyt.com En este sentido, el usuario puede configurar su navegador para aceptar o rechazar por defecto todas las cookies o para recibir un aviso en pantalla de la recepción de cada cookie y decidir en ese momento su implantación o no en su disco duro. Para ello le sugerimos consultar la sección de ayuda de su navegador para saber cómo cambiar la configuración que actualmente emplea. Aun cuando el Usuario configurase su navegador para rechazar todas las cookies o rechazase expresamente las cookies de https://asocdcyt.com podrás navegar por el Portal con el único inconveniente de no poder disfrutar de las funcionalidades del Portal que requieran la instalación de alguna de ellas. En cualquier caso, el Usuario podrá eliminar las cookies implantadas en su disco duro en cualquier momento, siguiendo el procedimiento establecido en la sección de ayuda de su navegador y que posteriormente detallaremos.
              </p></br>
              <p>
                Como usuario que eres, puedes rechazar el tratamiento de los datos o la información bloqueando estas cookies mediante la configuración apropiada de tu navegador. Sin embargo, debes saber que, si lo haces, este sitio no funcione adecuadamente.
              </p></br>
              <p>
                Según los términos incluidos en el artículo 15 de la Ley de Organica de Telecomunicaciones (Lotel), si continúas navegando, estarás prestando tu consentimiento para el empleo de las cookies que detallo a continuación.
              </p></br>
              <p>
                Las cookies de esta web ayudan a:
              </p></br>
              <ul>
                <li>Hacer que esta web funcione correctamente</li>
                <li>Ahorrarle el tener que iniciar sesión cada vez que visitas este sitio</li>
                <li>Recordarte tus ajustes durante y entre las visitas</li>
                <li>Permitirte visualizar videos</li>
                <li>Mejorar la velocidad / seguridad del sitio</li>
                <li>Que pueda compartir páginas con redes sociales</li>
                <li>Mejorar continuamente de este sitio web</li>
                <li>Mostrarte anuncios en función de tus hábitos de navegación</li>
              </ul>
              <p>No utilizaremos jamás cookies para:</p>
              <ul>
                <li>Recoger información de identificación personal (sin tu permiso expreso)</li>
                <li>Recoger información sensible (sin tu permiso expreso)</li>
                <li>Compartir datos de identificación personal a terceros</li>
              </ul></br>
              <h2>2. Cookies de terceros que utilizamos en esta web y que debes conocer</h2>
              <p>
                Esta web, como la mayoría de sitios web, incluye funcionalidades proporcionadas por terceros.
              </p></br>
              <p>
                También se ponen a prueba regularmente nuevos diseños o servicios de terceros para recomendaciones e informes.
              </p></br>
              <p>
                Esto puede modificar ocasionalmente la configuración de cookies y que aparezcan cookies no detalladas en la presente política. Es importante que sepas que son cookies provisionales que no siempre es posible informar y que solo tienen finalidades de estudio y valoración. En ningún caso se van a utilizar cookies que comprometan tu privacidad.
              </p></br>
              <p>
                Entre las cookies de terceros más estables están:
              </p></br>
              <ul>
                <li>Las generadas por servicios de análisis, concretamente, Google Analytics para ayudar al website a analizar el uso que hacen los Usuarios del sitio web y mejorar la usabilidad del mismo, pero en ningún caso se asocian a datos que pudieran llegar a identificar al usuario.</li>
              </ul>
              <p>
                Google Analytics, es un servicio analítico de web prestado por Google, Inc., una compañía de Delaware cuya oficina principal está en 1600 Amphitheatre Parkway, Mountain View (California), CA 94043, Estados Unidos (“Google”).
              </p></br>
              <p>
                El usuario puede consultar aquí el tipo de cookies utilizadas por Google. Cookie de Google+ y Google Maps, según lo dispuesto en su página sobre qué tipo de cookies utilizan.
              </p></br>
              <p>
                Asimismo, en ocasiones utilizamos Cookies generadas por el sistema de rastreo de Active Campaign LLC, empresa suscrita al Privacy Shield, para analizar el uso que hacen nuestros suscriptores del sitio web y mejorar su experiencia. Puedes conocer la política de privacidad de esta plataforma aquí.
              </p></br>
              <ul>
                <li>Cookies de redes sociales: Las Cookies de redes sociales pueden almacenarse en su navegador mientras navega por la web o cuando utiliza el botón de compartir contenidos de abcoach.com en alguna red social.</li>
              </ul>
              <p>
                Las empresas que generan estas cookies correspondientes a las redes sociales que utiliza esta web tienen sus propias políticas de cookies:
              </p></br>
              <ul>
                <li>Cookie de Twitter, según lo dispuesto en su política de privacidad y uso de cookies.</li>
                <li>Cookie de Linkedin, según lo dispuesto en su Política de cookies</li>
                <li>Cookie de Facebook, según lo dispuesto en su Política de Cookies</li>
                <li>Cookie de Youtube, según lo dispuesto en su Política de Cookies</li>
              </ul>
              <p>
                Las implicaciones de privacidad estarán en función a cada red social y dependerán de la configuración de privacidad que ha elegido en estas redes. En ningún caso, ni el responsable de esta web ni los anunciantes pueden obtener información personal identificable de estas cookies.
              </p></br>
              <h2>3. ¿Cómo puedo gestionar y desactivar estas cookies?</h2>
              <p>
                En el caso de no desear que el sitio web no instale ninguna cookie en tu equipo, cabe la posibilidad de adaptar tu navegador de modo que se te notifique antes de que se descargue ninguna cookie.
              </p></br>
              <p>
                Así las cosas, se puede igualmente modificar la configuración del navegador de forma que rechace todas las cookies o únicamente las cookies de terceros. También puedes eliminar cualquiera de las cookies que ya se encuentren en tu equipo. Ten en cuenta que tendrás que adaptar por separado la configuración de cada navegador y equipo que utilices.
              </p></br>
              <p>
                https://asocdcyt.com  pone a disposición de los usuarios que quieran impedir la instalación de las mencionadas cookies, enlaces facilitados al efecto por navegadores cuyo uso se considera más extendido:
              </p></br>
              <p>
                Google Chrome - Brave – Internet Explorer – Mozilla Firefox – Apple Safari
              </p></br>
              <p>
                Política de Cookies a 30 de agosto del 2022.
              </p></br>
              </div>
          </div>
        </div>
    </section>


</div>
  {{>footer-a}}

<script type="text/javascript">

  if (document.getElementById('state1')) {
    const countUp = new CountUp('state1', document.getElementById("state1").getAttribute("countTo"));
    if (!countUp.error) {
      countUp.start();
    } else {
      console.error(countUp.error);
    }
  }
  if (document.getElementById('state2')) {
    const countUp1 = new CountUp('state2', document.getElementById("state2").getAttribute("countTo"));
    if (!countUp1.error) {
      countUp1.start();
    } else {
      console.error(countUp1.error);
    }
  }
  if (document.getElementById('state3')) {
    const countUp2 = new CountUp('state3', document.getElementById("state3").getAttribute("countTo"));
    if (!countUp2.error) {
      countUp2.start();
    } else {
      console.error(countUp2.error);
    };
  }
</script>
  <style>
  #ofBar {
    display: none;
    background: #fff;
    z-index: 999999999;
    font-size: 16px;
    color: #333;
    padding: 16px 40px;
    font-weight: 400;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 40px;
    width: 80%;
    border-radius: 8px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 13px 27px -5px rgba(50,50,93,0.25), 0 8px 16px -8px rgba(0,0,0,0.3), 0 -6px 16px -6px rgba(0,0,0,0.025);
  }

  #ofBar.activo {
    display: flex;
  }

  #ofBar-logo img {
    height: 50px;
  }

  #ofBar-content {
    display: inline;
    padding: 0 15px;
  }

  #ofBar-right {
    display: flex;
    align-items: center;
  }

  #ofBar b {
    font-size: 15px !important;
  }
  #count-down {
    display: initial;
    padding-left: 10px;
    font-weight: bold;
    font-size: 20px;
  }
  #close-bar {
    font-size: 17px;
    opacity: 0.5;
    cursor: pointer;
  }
  #close-bar:hover{
    opacity: 1;
  }
  #btn-bar {
    background-image: linear-gradient(67deg, rgb(255 255 255) 0%, rgb(45 45 136) 0%, rgb(60 174 234) 100%);
    color: #fff;
    border-radius: 4px;
    padding: 10px 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    opacity: .95;
    margin-right: 20px;
    box-shadow: 0 5px 10px -3px rgba(0,0,0,.23), 0 6px 10px -5px rgba(0,0,0,.25);
  }
   #btn-bar, #btn-bar:hover, #btn-bar:focus, #btn-bar:active {
     text-decoration: none !important;
     color: #fff !important;
 }
  #btn-bar:hover{
    opacity: 1;
  }

  #btn-bar span, #ofBar-content span {
    color: red;
    font-weight: 700;
  }

  #oldPriceBar {
    text-decoration: line-through;
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    top: 2px;
    position: relative;
  }
  #newPrice{
    color: #fff;
    font-size: 19px;
    font-weight: 700;
    top: 2px;
    position: relative;
    margin-left: 7px;
  }

  #fromText {
    font-size: 15px;
    color: #fff;
    font-weight: 400;
    margin-right: 3px;
    top: 0px;
    position: relative;
  }

  @media(max-width: 991px){

  }
  @media (max-width: 768px) {
    #count-down {
      display: block;
      margin-top: 15px;
    }

    #ofBar {
      flex-direction: column;
      align-items: normal;
    }

    #ofBar-content {
      margin: 15px 0;
      text-align: center;
      font-size: 18px;
    }

    #ofBar-right {
      justify-content: flex-end;
    }
  }


</style>