<!-- Navbar -->
  <div class="container position-sticky z-index-sticky top-0">
    <div class="row">
      <div class="col-12">

        <nav class="navbar navbar-expand-lg  blur blur-rounded top-0 z-index-fixed shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
          <div class="container-fluid px-0">
            <a class="navbar-brand font-weight-bolder ms-sm-3" href="/" rel="tooltip" title="AsocDCyT" data-placement="bottom">
              <img src="/img/asoc-banner.png" alt="" class="img-nav">
            </a>
            <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon mt-2">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </span>
            </button>
            <div class="collapse navbar-collapse pt-3 pb-2 py-lg-0 w-100" id="navigation">
              <ul class="navbar-nav navbar-nav-hover ps-lg-3 w-100">
                <li class="nav-item dropdown dropdown-hover mx-2">
                  <ul class="d-flex flex-row ms-n3 nav">
                    <li class="nav-item">
                      <a class="nav-link pe-1" href="https://www.facebook.com/asocdcyt" target="_blank">
                        <i class="fab fa-facebook text-lg opacity-8" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link pe-1" href="https://mobile.twitter.com/asocdcyt" target="_blank">
                        <i class="fab fa-twitter text-lg opacity-8" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link pe-1" href="https://www.instagram.com/asocdcyt" target="_blank">
                        <i class="fab fa-instagram text-lg opacity-8" aria-hidden="true"></i>
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item dropdown dropdown-hover mx-2">
                  <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" href="javascript:;" id="dropdownMenuPages" data-bs-toggle="dropdown" aria-expanded="false">
                    Nosotros
                    <img src="/assets/img/down-arrow-dark.svg" alt="down-arrow" class="arrow ms-1">
                  </a>
                  <div class="dropdown-menu dropdown-menu-animation dropdown-md p-3 border-radius-lg mt-0 mt-lg-3" aria-labelledby="dropdownMenuPages">
                    <div class="d-none d-lg-block">
          <div class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center px-0">
            <div class="d-inline-block">
              <div class="avatar avatar-sm bg-gradient-info  me-3  my-auto">
                <i class="ni ni-notification-70 text-white z-index-100"></i>
              </div>
            </div>
            Acerca de Nosotros
          </div>
          <a href="" class="dropdown-item border-radius-md">
            <span class="ps-3">Valores</span>
          </a>
          <a href="" class="dropdown-item border-radius-md">
            <span class="ps-3">Contácto</span>
          </a>
          <a href="" class="dropdown-item border-radius-md">
            <span class="ps-3">Preguntas Frecuentes</span>
          </a>
          <a href="/accountability" class="dropdown-item border-radius-md">
            <span class="ps-3">Rendición de Cuentas</span>
          </a>
        </div>

        <div class="d-lg-none">
          <div class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center px-0">
            <div class="d-inline-block">
              <div class="avatar avatar-sm bg-gradient-info  me-3  my-auto">
                <i class="ni ni-notification-70 text-white z-index-100"></i>
              </div>
            </div>
            Acerca de Nosotros
          </div>

          <a href="" class="dropdown-item border-radius-md">
            <span class="ps-3">Valores</span>
          </a>
          <a href="" class="dropdown-item border-radius-md">
            <span class="ps-3">Contácto</span>
          </a>
          <a href="" class="dropdown-item border-radius-md">
            <span class="ps-3">Preguntas Frecuentes</span>
          </a>
          <a href="/accountability" class="dropdown-item border-radius-md">
            <span class="ps-3">Rendición de Cuentas</span>
          </a>
        </div>

                  </div>
                </li>

                <li class="nav-item dropdown dropdown-hover mx-2">
                  <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" href="javascript:;" id="dropdownMenuBlocks" data-bs-toggle="dropdown" aria-expanded="false">
                    Proyectos
                    <img src="/assets/img/down-arrow-dark.svg" alt="down-arrow" class="arrow ms-1"/>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-animation dropdown-lg dropdown-lg-responsive p-3 border-radius-lg mt-0 mt-lg-3" aria-labelledby="dropdownMenuBlocks">
                    <div class="d-none d-lg-block">

                  <li class="nav-item dropdown dropdown-hover dropdown-subitem">
                    <a class="dropdown-item py-2 ps-3 border-radius-md" href="">
                      <div class="d-flex">
                        <div class="icon h-10 me-3 d-flex mt-1">
                          <i class="ni ni-badge text-gradient text-primary"></i>
                        </div>
                        <div class="w-100 d-flex align-items-center justify-content-between">
                          <div>
                            <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">Proyectos Académicos</h6>
                            <span class="text-sm">Ver Proyectos Académicos</span>
                          </div>

                          <img src="/assets/img/down-arrow.svg" alt="down-arrow" class="arrow">
                        </div>
                      </div>
                    </a>
                    <div class="dropdown-menu mt-0 py-3 px-2 mt-3">
                      <a class="dropdown-item ps-3 border-radius-md mb-1" href="">
                        Cursos
                      </a>
                      <a class="dropdown-item ps-3 border-radius-md mb-1" href="">
                        Talleres
                      </a>
                      <a class="dropdown-item ps-3 border-radius-md mb-1" href="">
                        Diplomados
                      </a>
                      <a class="dropdown-item ps-3 border-radius-md mb-1" href="">
                        Mi Bachiller
                      </a>
                    </div>
                  </li>

                  <li class="nav-item dropdown dropdown-hover dropdown-subitem">
                    <a class="dropdown-item py-2 ps-3 border-radius-md" href="">
                      <div class="d-flex">
                        <div class="icon h-10 me-3 d-flex mt-1">
                          <i class="ni ni-badge text-gradient text-primary"></i>
                        </div>
                        <div class="w-100 d-flex align-items-center justify-content-between">
                          <div>
                            <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">Servicios de Asesorías y Consultoría</h6>
                            <span class="text-sm">Ver Servicios de Asesorías y Consultoría</span>
                          </div>

                          <img src="/assets/img/down-arrow.svg" alt="down-arrow" class="arrow">
                        </div>
                      </div>
                    </a>
                    <div class="dropdown-menu mt-0 py-3 px-2 mt-3">
                      <a class="dropdown-item ps-3 border-radius-md mb-1" href="/projects#apoyoalemprendedor">
                        Apoyo al Emprendedor
                      </a>
                      <a class="dropdown-item ps-3 border-radius-md mb-1" href="/projects#asesoriasempresariales">
                        Asesorías Empresariales
                      </a>
                      <a class="dropdown-item ps-3 border-radius-md mb-1" href="/projects#serv-analisisquimicos">
                        Servicios de Análisis Químicos
                      </a>
                    </div>
                  </li>

                  <li class="nav-item dropdown dropdown-hover dropdown-subitem">
                    <a class="dropdown-item py-2 ps-3 border-radius-md" href="">
                      <div class="d-flex">
                        <div class="icon h-10 me-3 d-flex mt-1">
                          <i class="ni ni-badge text-gradient text-primary"></i>
                        </div>
                        <div class="w-100 d-flex align-items-center justify-content-between">
                          <div>
                            <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">Otros Proyectos</h6>
                            <span class="text-sm">Ver Otros Proyectos</span>
                          </div>

                          <img src="/assets/img/down-arrow.svg" alt="down-arrow" class="arrow">
                        </div>
                      </div>
                    </a>
                    <div class="dropdown-menu mt-0 py-3 px-2 mt-3">
                      <a class="dropdown-item ps-3 border-radius-md mb-1" href="">
                        Proyecto Esperanza
                      </a>
                      <a class="dropdown-item ps-3 border-radius-md mb-1" href="">
                        Proyecto Impermeabilización Edificio N
                      </a>
                    </div>
                  </li>
                </div>

                <div class="row d-lg-none">
                  <div class="col-md-12">
                    <div class="d-flex mb-2">
                      <div class="icon h-10 me-3 d-flex mt-1">
                        <i class="ni ni-single-copy-04 text-gradient text-primary"></i>
                      </div>
                      
                      <div class="w-100 d-flex align-items-center justify-content-between">
                          <div>
                            <a href="/projects">
                            <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">Apoyo al Emprendedor</h6></a>
                          </div>
                      </div>
                    </div>
                    <div class="d-flex mb-2 mt-3">
                      <div class="icon h-10 me-3 d-flex mt-1">
                        <i class="ni ni-laptop text-gradient text-primary"></i>
                      </div>
                      <div class="w-100 d-flex align-items-center justify-content-between">
                        <div>
                          <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">Asesorías Empresariales</h6>
                        </div>
                      </div>
                    </div>
                    <div class="d-flex mb-2 mt-3">
                      <div class="icon h-10 me-3 d-flex mt-1">
                        <i class="ni ni-badge text-gradient text-primary"></i>
                      </div>
                      <div class="w-100 d-flex align-items-center justify-content-between">
                        <div>
                          <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">Capacitaciones</h6>
                        </div>
                      </div>
                    </div>
                    <a class="dropdown-item ps-3 border-radius-md mb-1" href="">
                      Cursos
                    </a>
                    <a class="dropdown-item ps-3 border-radius-md mb-1" href="">
                      Talleres
                    </a>
                    <a class="dropdown-item ps-3 border-radius-md mb-1" href="">
                      Diplomados
                    </a>
                    <a class="dropdown-item ps-3 border-radius-md mb-1" href="">
                      Aula Virtual
                    </a>


                    <div class="d-flex mb-2 mt-3">
                      <div class="icon h-10 me-3 d-flex mt-1">
                        <i class="ni ni-notification-70 text-gradient text-primary"></i>
                      </div>
                      <div class="w-100 d-flex align-items-center justify-content-between">
                        <div>
                          <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">Proyecto Esperanza</h6>
                        </div>
                      </div>
                    </div>

                    <div class="d-flex mb-2 mt-3">
                      <div class="icon h-10 me-3 d-flex mt-1">
                        <i class="ni ni-app text-gradient text-primary"></i>
                      </div>
                      <div class="w-100 d-flex align-items-center justify-content-between">
                        <div>
                          <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">Proyecto Impermeabilización</h6>
                        </div>
                      </div>
                    </div>
                    <div class="d-flex mb-2 mt-3">
                      <div class="icon h-10 me-3 d-flex mt-1">
                        <i class="ni ni-app text-gradient text-primary"></i>
                      </div>
                      <div class="w-100 d-flex align-items-center justify-content-between">
                        <div>
                          <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">Proyecto Mi Bachiller</h6>
                        </div>
                      </div>
                    </div>
                    <div class="d-flex mb-2 mt-3">
                      <div class="icon h-10 me-3 d-flex mt-1">
                        <i class="ni ni-app text-gradient text-primary"></i>
                      </div>
                      <div class="w-100 d-flex align-items-center justify-content-between">
                        <div>
                          <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">Laboratorio de Química</h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                  </ul>
                </li>
  
                <li class="nav-item dropdown dropdown-hover mx-2">
                  <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" href="javascript:;" id="dropdownMenuDocs" data-bs-toggle="dropdown" aria-expanded="false">
                    Jornadas
                    <img src="/assets/img/down-arrow-dark.svg" alt="down-arrow" class="arrow ms-1"/>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-animation dropdown-lg dropdown-lg-responsive p-3 border-radius-lg mt-0 mt-lg-3" aria-labelledby="dropdownMenuBlocks">
                    <div class="d-none d-lg-block">

                    <li class="nav-item dropdown dropdown-hover dropdown-subitem">
                      <a class="dropdown-item py-2 ps-3 border-radius-md" href="/event">
                        <div class="d-flex">
                          <div class="icon h-10 me-3 d-flex mt-1">
                            <i class="ni ni-world text-gradient text-primary"></i>
                          </div>
                          <div class="w-100 d-flex align-items-center justify-content-between">
                            <div>
                              <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">I Jornadas "Tendencias en Ciencias y Tecnología"</h6>
                              <span class="text-sm">Ir a la Inscripción</span>
                            </div>

                            <img src="/assets/img/down-arrow.svg" alt="down-arrow" class="arrow">
                          </div>
                        </div>
                      </a>
                    </li>
                  </ul>
                </li>
                
                <li class="nav-item my-auto ms-3 ms-lg-0">
                  <a class="btn btn-sm  bg-gradient-warning  btn-round mb-0 me-1 mt-2 mt-md-0" href="https://www.campus.asocdcyt.com/?redirect=0" target="_blank">
                    Campus Virtual
                  </a>
                </li>

                <li class="nav-item ms-lg-auto">
                  <a class="nav-link nav-link-icon me-2" href="/">
                    <p class="d-inline text-sm z-index-1 font-weight-bold" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Inicie en su cuenta personal">Volver</p>
                  </a>
                </li>
                <li class="nav-item my-auto ms-3 ms-lg-0">
                  <a href="/signup" class="btn btn-sm  bg-gradient-primary  btn-round mb-0 me-1 mt-2 mt-md-0">Registrarse</a>
                </li>
                
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
  
  <section>
    <div class="page-header min-vh-100">
      <div class="container">
        <div class="row">
          <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column mx-lg-0 mx-auto mt-8">
            {{#if success_msg }}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <span class="alert-icon text-white"><i class="ni ni-like-2"></i></span>
                <span class="alert-text text-white"><strong>¡Enhorabuena! -</strong> {{ success_msg }}</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {{/if}}
            {{#if error}}
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  <span class="alert-icon text-white"><i class="ni ni-support-16"></i></span>
                  <span class="alert-text text-white"><strong>¡Hey! -</strong> {{error}}</span>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
            {{/if}}
            {{#each errors }}
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  <span class="alert-icon text-white"><i class="ni ni-support-16"></i></span>
                  <span class="alert-text text-white"><strong>¡Hey! -</strong> {{text}}</span>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
            {{/each}}
            {{#if error_msg }}
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  <span class="alert-icon text-white"><i class="ni ni-support-16"></i></span>
                  <span class="alert-text text-white"><strong>¡Hey! -</strong> {{error_msg}}</span>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
            {{/if}}
            <div class="card card-plain">
              <div class="card-header pb-0 text-left">
                <h4 class="font-weight-bolder">Iniciar sesión como Egresado</h4>
                <p class="mb-0">Ingrese su correo electrónico y contraseña para iniciar sesión</p>
              </div>
              <div class="card-body">
                <form action="/login" method="POST">
                    <label class="text-dark">Correo Electrónico</label>
                    <div class="mb-3">
                      <input type="email" name="email" class="form-control" placeholder="Correo Electrónico" aria-label="Email" aria-describedby="email-addon">
                    </div>
                    <label class="text-dark">Contraseña</label>
                    <div class="mb-3">
                      <input type="password" name="password" class="form-control" placeholder="Contraseña" aria-label="Password" aria-describedby="password-addon">
                    </div>
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" id="rememberMe" checked="">
                      <label class="form-check-label" for="rememberMe">Recuérdame</label>
                    </div>
                    <div class="text-center">
                      <button type="submit" class="btn bg-gradient-info w-100 mt-4 mb-0">Iniciar Sesión</button>
                    </div>
                  </form>
              </div>
              <div class="card-footer text-center pt-0 px-lg-2 px-1">
                <p class="mb-4 text-sm mx-auto">
                  ¿No tienes una cuenta?
                  <a href="/signup" class="text-primary text-gradient font-weight-bold">Registrate</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 end-0 text-center justify-content-center flex-column" >
            <div class="position-relative bg-gradient-info h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center page-header" style="background-image: url('/img/Graduacion-UCLA.jpg');">
                
              <img src="/assets/img/shapes/pattern-lines.svg" alt="pattern-lines" class="position-absolute opacity-4 start-0">
              <h4 class="mt-5 text-white font-weight-bolder">"El futuro pertenece a quienes creen en la belleza de sus sueños"</h4>
              <p class="text-white">Egresados del Decanato de Ciencias y Tecnología de la Universidad Centroccidental Lisandro Alvarado</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>