<div id="ofBar" class="activo">
    <div id="ofBar-logo"> 
      <img alt="creative-tim-logo" src="/img/asoc-banner.png" height="50">
    </div>
    <div id="ofBar-content">
      <b>¡Se parte de la asociación! - </b> Regístrate ahora y obtén la asesoría profesional que necesites. ⏰
    </div>
    <div id="ofBar-right">
      <a id="btn-bar" style="cursor: pointer;">Registrarme</a>
      <a id="close-barX" style="cursor: pointer;">×</a>
    </div>
  </div>

  <!-- Navbar -->
  {{> navbar-index }}

  <header class="header-2">
    <div class="page-header min-vh-85">
    <span class="mask bg-gradient-info opacity-8"></span>
      <div class="container">
        <div class="row">
          <div class="col-lg-7 text-center mx-auto">
            <h1 class="text-white">Servicios de Asesorías y Consultoría</h1>
          </div>
        </div>
      </div>
      <div class="position-absolute w-100 z-index-1 bottom-0">
      <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto">
        <defs>
          <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        </defs>
        <g class="moving-waves">
          <use xlink:href="#gentle-wave" x="48" y="-1" fill="rgba(255,255,255,0.40" />
          <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.35)" />
          <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.25)" />
          <use xlink:href="#gentle-wave" x="48" y="8" fill="rgba(255,255,255,0.20)" />
          <use xlink:href="#gentle-wave" x="48" y="13" fill="rgba(255,255,255,0.15)" />
          <use xlink:href="#gentle-wave" x="48" y="16" fill="rgba(255,255,255,0.95" />
        </g>
      </svg>
    </div>
    </div>
  </header>
<div class="wraper" style="margin-top: 10vh;">


    <section class="my-5 py-5">
      <div class="container">
          <div class="row" id="page-filter">
              <h2 class="text-center text-gradient text-warning" id="apoyoalemprendedor">Apoyo al Emprendedor</h2></br>
              <div class="m-left">
              <h3>Objetivo:</h3>
              <p>
                Brindar apoyo en las actividades dirigidas a comenzar un nuevo negocio o llevar a la realidad ideas creativas a personas de nuestras comunidades.
              </p></br>
              <h3>Alcance:</h3>
              <p>
                Cubrir las necesidades de las personas de la Región Centroccidental, en lo que respecta a asesorías durante la creación de un nuevo negocio.
              </p></br>
              <h3>Asesorías a Ofrecer:</h3>
              <p>
                Los acompañamos en la generación de la propuesta, evaluación técnica y económica de la misma, y durante la puesta en marcha.
              </p></br>
              </div>
              <h2 class="text-center text-gradient text-info" id="asesoriasempresariales">Proyecto Asesorías Empresariales</h2></br>
              <div class="m-left">
              <h3>Objetivo:</h3>
              <p>
                Brindar asesorías técnicas profesionales y especializadas, de acuerdo a las necesidades del sector empresarial de la Región Centroccidental.
              </p></br>
              <h3>Alcance:</h3>
              <p>
                Cubrir las necesidades del sector empresarial de Región Centroccidental, en lo que respecta a asesorías técnicas profesionales y especializadas.
              </p></br>
              <h3>Asesorías a Ofrecer:</h3>
              <p>
                En áreas de: Informática, Producción y Telemática.
              </p></br>
              <h4>En el área de Informática:</h4>
              <p>
                <span class="font-weight-bold">Capacitación Ofimática:</span> Consiste en dictar cursos y talleres que ayuden a los empleados de la empresa a desarrollarse en el uso de las herramientas Ofimáticas tanto en software libre como en propietario (Procesador de texto, hojas de cálculo, Hojas de presentaciones, entre otras). Manejo de Herramientas web (motores de búsqueda, navegadores, redes sociales). Manejo óptimo de los equipos de computación y mantenimiento preventivo básico.
              </p></br>
              <p>
                <span class="font-weight-bold">Soporte Informático:</span> Consta de brindar a las empresas mantenimientos preventivos y correctivos a los equipos de computación, además de evaluar las condiciones de equipos y redes instaladas, asesorar en actualizaciones, migraciones y cambio de plataformas.
              </p></br>
              <p>
                <span class="font-weight-bold">Evaluación de sistemas de información: </span>Verificación de los sistemas de información con los que cuenta la empresa de manera de evaluar nuevos requerimientos con el fin de proponer cambio o actualizaciones al sistema actual. Desarrollar levantamientos de información con el fin de presentar propuestas de nuevos sistemas de información acordes a la realidad de la empresa.
              </p></br>

              <p>
                <span class="font-weight-bold">Elaboración de proyectos de redes:  </span>Se basa en el estudio y levantamiento de información para el desarrollo de proyectos de redes para la empresa.
              </p></br>

              <p>
                <span class="font-weight-bold">Auditoría de Sistemas:  </span>Desarrollar programas de auditoría de software acordes a los sistemas que la empresa posee con el fin de dar a conocer las fallas del mismo y así proponer o aplicar correctivos.
              </p></br>

              <p>
                <span class="font-weight-bold">Seguridad de la Información: </span>Evaluar la seguridad con la que cuentan los sistemas de información instalados para disminuir la vulnerabilidad de la data.
              </p></br>
              <h4>En el área de Producción:</h4></br>
              <p>
                a.	Mejora de los procesos productivos: Evaluar los procesos productivos de la empresa para detectar problemas o actividades que puedan mejorar en el área productiva a manera de disminuir costos, mejorar la eficiencia, aumentar la producción, entre otros.</br></br>
                b.	Incorporación de sistemas de evaluación a los procesos productivos</br></br>
                c.	Sistema de Calidad de la Producción.
              </p></br>
              <h4>En el área de Telemática:</h4></br>
              <p>
                a.	Desarrollo de páginas web: soporte a las empresas en la incorporación de páginas web que ayuden a promocionar, comercializar y apoyar a la empresa.</br></br>
                b.	Diseño, Evaluación e Implementación de Redes.</br></br>
                c.	Evaluación de Infraestructura de Redes.</br></br>
                d.	Evaluación e Implementación de software de redes (Windows Server, Linux).</br></br>
                e.	Diseño e instalación de redes inalámbricas.</br></br>
                f.	Auditoria de Redes.</br></br>
                g.	Capacitación en el desarrollo de páginas web.</br></br>
                h.	Capacitación en redes básicas, intermedias y avanzadas.

              </p></br>
              <h2 class="text-center text-gradient text-warning" id="serv-analisisquimicos">Servicios de Análisis Químicos</h2></br>
              <div class="m-left">
              <h3>Objetivo:</h3>
              <p>
                Brindar servicios técnicos profesionales y especializados, de acuerdo a las necesidades del sector empresarial de la Región Centroccidental
              </p></br>
              <h3>Alcance:</h3>
              <p>
                Cubrir las necesidades del sector empresarial de la Región Centroccidental, en lo que respecta a servicios técnicos profesionales y especializados.
              </p></br>
              <h3>Servicios a Ofrecer:</h3>
              <p>
                Calidad de Agua Potable. Según Normas Sanitarias de Calidad de Agua Potable. Gaceta Oficial No. 36.395 Año 1998.
              </p></br>
          </div>
        </div>
    </section>


</div>
  {{>footer-a}}

<script type="text/javascript">

  if (document.getElementById('state1')) {
    const countUp = new CountUp('state1', document.getElementById("state1").getAttribute("countTo"));
    if (!countUp.error) {
      countUp.start();
    } else {
      console.error(countUp.error);
    }
  }
  if (document.getElementById('state2')) {
    const countUp1 = new CountUp('state2', document.getElementById("state2").getAttribute("countTo"));
    if (!countUp1.error) {
      countUp1.start();
    } else {
      console.error(countUp1.error);
    }
  }
  if (document.getElementById('state3')) {
    const countUp2 = new CountUp('state3', document.getElementById("state3").getAttribute("countTo"));
    if (!countUp2.error) {
      countUp2.start();
    } else {
      console.error(countUp2.error);
    };
  }
</script>
  <style>
  #ofBar {
    display: none;
    background: #fff;
    z-index: 999999999;
    font-size: 16px;
    color: #333;
    padding: 16px 40px;
    font-weight: 400;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 40px;
    width: 80%;
    border-radius: 8px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 13px 27px -5px rgba(50,50,93,0.25), 0 8px 16px -8px rgba(0,0,0,0.3), 0 -6px 16px -6px rgba(0,0,0,0.025);
  }

  #ofBar.activo {
    display: flex;
  }

  #ofBar-logo img {
    height: 50px;
  }

  #ofBar-content {
    display: inline;
    padding: 0 15px;
  }

  #ofBar-right {
    display: flex;
    align-items: center;
  }

  #ofBar b {
    font-size: 15px !important;
  }
  #count-down {
    display: initial;
    padding-left: 10px;
    font-weight: bold;
    font-size: 20px;
  }
  #close-bar {
    font-size: 17px;
    opacity: 0.5;
    cursor: pointer;
  }
  #close-bar:hover{
    opacity: 1;
  }
  #btn-bar {
    background-image: linear-gradient(67deg, rgb(255 255 255) 0%, rgb(45 45 136) 0%, rgb(60 174 234) 100%);
    color: #fff;
    border-radius: 4px;
    padding: 10px 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    opacity: .95;
    margin-right: 20px;
    box-shadow: 0 5px 10px -3px rgba(0,0,0,.23), 0 6px 10px -5px rgba(0,0,0,.25);
  }
   #btn-bar, #btn-bar:hover, #btn-bar:focus, #btn-bar:active {
     text-decoration: none !important;
     color: #fff !important;
 }
  #btn-bar:hover{
    opacity: 1;
  }

  #btn-bar span, #ofBar-content span {
    color: red;
    font-weight: 700;
  }

  #oldPriceBar {
    text-decoration: line-through;
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    top: 2px;
    position: relative;
  }
  #newPrice{
    color: #fff;
    font-size: 19px;
    font-weight: 700;
    top: 2px;
    position: relative;
    margin-left: 7px;
  }

  #fromText {
    font-size: 15px;
    color: #fff;
    font-weight: 400;
    margin-right: 3px;
    top: 0px;
    position: relative;
  }

  @media(max-width: 991px){

  }
  @media (max-width: 768px) {
    #count-down {
      display: block;
      margin-top: 15px;
    }

    #ofBar {
      flex-direction: column;
      align-items: normal;
    }

    #ofBar-content {
      margin: 15px 0;
      text-align: center;
      font-size: 18px;
    }

    #ofBar-right {
      justify-content: flex-end;
    }
  }


</style>